/* Page Layout */
* {
  margin: 0;
  padding: 0;
}

/* Navbar */
nav {
  height: 100px;
  background: #ed5050;
  width: 100%;
  z-index: 12;
  position: fixed;
}

label.logo {
  color: white;
  font-size: 40px;
  line-height: 100px;
  padding: 0 100px;
  font-weight: bold;
}

/** Navbar Search */
#searchBar {
  border-radius: 25px 0 0 25px;
  padding: 0 5px;
  height: 22px;
  width: 120px;
  border: none;
  outline: none;
}

#searchBtn {
  border-radius: 0 25px 25px 0;
  padding: 0 5px;
  position: relative;
  left: -5px;
  height: 22px;
  border: none;
  outline: none;
  cursor: pointer;
  background: white;
  color: #ed5050;
  border-left: 1px solid #ed5050;
}

#searchBtn:hover {
  background: #d23c3c;
  color: white;
}

/** Navbar Icons */
nav ul {
  float: right;
  margin-right: 20px;
}

nav ul li {
  display: inline-block;
  line-height: 100px;
  margin: 0 5px;
}

nav ul li a {
  color: white;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
}

a.active,
a:hover {
  background: #d23c3c;
  transition: 0.5s;
}

.checkBtn {
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

/** Image, header, and city title **/
.banner-area {
  width: 100%;
  height: 500px;
  position: fixed;
  top: 100px;
  background-image: url(event.jpg);
  background-size: cover;
  background-position: center center;
}

.title {
  color: white;
  text-align: center;
}

.topdiv {
  opacity: 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 30px;
  padding-top: 10px;
  line-height: 1.7;
  position: relative;
  animation-name: top;
  animation-duration: 5s;
  animation-fill-mode: forwards;
}

@keyframes top {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/** Event Box */
.content-area {
  width: 100%;
  position: relative;
  top: 450px;
  background: #f4efef;
  height: 840px;
  display: flex;
  justify-content: center;
}

#eventBoxTitle {
  color: #ed5050;
}

/* Footer */
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #ed5050;
  color: white;
  text-align: center;
}

/* Media Queries*/
@media (max-width: 952px) {
  label.logo {
    font-size: 30px;
    padding-left: 50px;
  }

  nav ul li a {
    font-size: 16px;
  }

  .container {
    margin: 5px;
  }
}

@media (max-width: 858px) {
  .checkBtn {
    display: block;
  }

  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #ed5050;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
  }

  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }

  nav ul li a {
    font-size: 20px;
  }

  a:hover,
  a,
  active {
    background: none;
    color: #d23c3c;
  }

  #check:checked ~ ul {
    left: 0;
  }

  #cardDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #eventTitle {
    font-size: 20px;
  }

  #cityTitle {
    font-size: 18px;
  }
}

@media (min-height: 667px) {
  #cardDiv {
    margin-top: 400px;
  }
}

@media (min-width: 359px) {
  #mainsearchBar {
    width: 200px;
  }

  #mainsearchBtn {
    width: 75px;
  }
}
