html {
  height: 100%;
}

body {
  background-image: url("homepage.jpg");
  background-size: cover;
  min-height: 100%;
}


.title {
  color: white;
  align-items: center;
  text-align: center;
}

.container {
  display: flex;
  justify-content: space-around;
  padding-top: 10px;
}

.city {
  text-align: center;
  margin-bottom: 30px;
  margin-top: 40px;
  padding-top: 10px;
}

/* Search Bar */
.field.has-addons {
  display: flex;
  justify-content: center;
}

/* Logo (Top Left) */
#springLogo {
  color: #ffffff;
}

/* nav bar search bar*/
.field:not(:last-child) {
  margin-bottom: 0rem;
  margin-top: 1rem;
  margin-right: 1rem;
}

#homeBar {
  width: 32rem;
}

#navBarSearch {
  width: 7rem;
}

.hp_restaurant {
  box-shadow: 4px 4px rgb(148, 140, 140);
}

.hp_event {
  box-shadow: 4px 4px rgb(148, 140, 140);
}

.hp_weather {
  box-shadow: 4px 4px rgb(148, 140, 140);
}

@media only screen and (max-width: 1023px) {
  /* For mobile phones: */
  
  .navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    vertical-align: middle;
    
  } 
  
  .navbar-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    vertical-align: middle;
    background-color: transparent;
    max-width: max-content;
  }

  .navbar-end {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    max-width: 0px;
  }

  .navbar-item {
    max-width: 5px;
  }

  .icon {
    color: white;
  }

  .navbar-brand {
    margin-right: 12rem;
  }

  .field:not(:last-child) {
    margin-bottom: 0rem;
    margin-top: 0.5rem;
    margin-right: 1rem;
  }

  #springLogo {
    font-size: 36px;
    position: inherit;
    margin-right: 30px;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}


/* Image Overlay */

.imageContainer {
  display: flex;
  justify-content: center;
}

#imageDiv {
  position: relative;
  width: 200px;
  height: 200px;
  display: inline-block;
}

#foodImage {
  display: block;
  width: 200px;
  height: 200px;
  object-fit: fill;
}

.overlay {
  position: absolute;
  transition: all .3s ease;
  opacity: 0;
  background-color: #eeeeee;
}

#imageDiv:hover .overlay {
  opacity: 1;
}

#overlayText {
  color: #ffffff;
  font-family: sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
}

.overlayLeft {
  height: 100%;
  width: 0%;
  top: 0;
  left: 0;
  background-color: red;

}

#imageDiv:hover .overlayLeft {
  width: 100%;

}


